.container {
  width: 580px;
  padding: 0 150px;
  border-collapse: collapse;
}

.container th,
td {
  border: 2px solid black;
  padding: 4px 0;
}

.text {
  font-weight: 700;
  font-size: 18px;
  background-color: rgb(34, 34, 34);
  color: aliceblue;
}
